<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='sign.css') }}">
    <link rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{{ url_for('static', filename='frontImg.jpg') }}" alt="">
        <div class="text">
          <span class="text-1">Tourism</span>
          <br>
          <span class="text-2">Tourism, the act and process of spending time away from home in pursuit of recreation, relaxation, and pleasure, while making use of the commercial provision of services.</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
            <form action="{{ url_for('login') }}" method="POST">
              <div class="input-boxes">
                  <div class="input-box">
                      <i class="fas fa-envelope"></i>
                      <input type="text" name="email1" placeholder="Enter your email" required>
                  </div>
                  <div class="input-box">
                      <i class="fas fa-lock"></i>
                      <input type="password" name="passwd1" placeholder="Enter your password" required>
                  </div>
                  <div class="button input-box">
                      <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
              </div>
          </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="{{ url_for('signup') }}" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" name="fast" placeholder="Enter your First name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" name="last" placeholder="Enter your Last name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name="contact" placeholder="Enter your Contact" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name="paaswd" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>
